<nav class="navbar bg-faded navbar-toggleable">
    <div class="container">
        <h1 class="navbar-brand my-0"><i class="fa fa-sun-o fa-2x mr-3 align-middle" aria-hidden="true"></i>Forecast</h1>
        <div class="navbar-collapse justify-content-end">
            <forecast-search (search)="fetchData($event)"></forecast-search>
        </div>
    </div>
</nav>
<main class="container">
    <div  *ngIf="errorStatus$ | async as errorStatus" class="alert alert-danger my-5" role="alert">
        <strong>Error.</strong> {{ errorStatus.message | capitalizeFirstLetter}}
    </div>
    <section *ngIf="weatherData$ | async as weatherData">
        <forecast-info *ngIf="weatherData" [weatherData]="weatherData"></forecast-info>
    </section>
    <section *ngIf="forecastData$ | async as forecastData">
        <forecast-chart-container [forecastData]="forecastData"></forecast-chart-container>
    </section>
</main>
