.forecast-chart-tabs {
    .nav-item {
        margin-right: 2px;

        button {
            cursor: pointer;
            outline: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.forecast-chart {
    border: 1px solid #ddd;
    border-top: none;
}
