<div class="my-4">
    <h5 class="mb-3">Forecast {{ forecastData.cnt }} days</h5>
    <ul class="nav nav-tabs forecast-chart-tabs">
        <li *ngFor="let tab of tabs" class="nav-item">
            <button class="nav-link" [ngClass]="{ active: tab.active }" (click)="setActiveTab(tab)">{{ tab.title }}
            </button>
        </li>
    </ul>
    <div class="forecast-chart p-4">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [chartType]="chartType"></canvas>
    </div>
</div>
