<div *ngIf="weatherData">
    <h6 class="my-3">{{ weatherData.dt*1000 | date:'EEEE, d MMMM' }}</h6>
    <div class="text-center">
        <h5>{{ weatherData.name + ', ' + weatherData.sys.country }}</h5>
        <h2>{{ weatherData.main.temp | number : '1.0-0'}} &deg;C</h2>
        <div>{{ weatherData.weather[0].main }}</div>
    </div>
    <div class="bg-faded d-flex justify-content-center p-2 my-2">
        <div class="mx-2">
            <b>Pressure:</b>
            <span>{{ weatherData.main.pressure }} hPa</span>
        </div>
        <div class="mx-2">
            <b>Humidity:</b>
            <span>{{ weatherData.main.humidity }}%</span>
        </div>
        <div class="mx-2">
            <b>Wind Speed:</b>
            <span>{{ weatherData.wind.speed }} m/s</span>
        </div>
        <div class="mx-2">
            <b>Clouds:</b>
            <span>{{ weatherData.clouds.all }}%</span>
        </div>
    </div>
</div>
